{% extends "templates/default.html" %}

{% load i18n %}

{% block content %}

    <section class="default s-grey">

        <h2>{% trans "Oops!" %}</h2>

        <p>{% trans "This functionality not working yet" %}.</p>

        <a class="t-link green underline" href="{% url "app_home" %}">keeb-talk:~$ redirect -home</a>

    </section>

{% endblock %}
