{% extends "templates/default.html" %}

{% load static i18n %}

{% block content %}

    <section class="default s-grey section-buttons">
        {% if user.is_authenticated %}
            <div>{% trans "Hello" %} <a class="t-link green" href="{% url "app_profile" %}">{{ user }}</a>.</div>
        {% else %}
            <div>{% trans "Welcome!" %} <a class="t-link green" href="{% url "app_log_in" %}">{% trans "log-in" %}</a> {% trans "or" %} <a class="t-link green" href="{% url "app_sign_in" %}">{% trans "sign-in" %}</a>.</div>
        {% endif %}
    </section>

    {% for post in posts %}

        <section id="{{ post.pk }}" class="s-post s-lightgrey">

            <div class="aside">
                <!-- Votes. -->
                <div class="votes">
                    <a data-type="vote" href="{% url "app_not_working_yet" %}">
                        <img src="{% static "img/icons/arrow-black-top.svg" %}" alt="Arrow red top">
                    </a>
                    <div class="darkgrey">0</div>
                    <a data-type="vote" href="{% url "app_not_working_yet" %}">
                        <img src="{% static "img/icons/arrow-black-bottom.svg" %}" alt="Arrow red bottom">
                    </a>
                </div>
            </div>

            <div class="main">

                <div class="header">
                    <div class="nav">
                        <p><a class="t-link green" href="{% url "app_user_detail" post.author %}">{{ post.author }}</a></p>
                    </div>
                    <p class="darkgrey">{{ post.creation_date|date:"Y-m-d" }}</p>
                </div>

                <a class="body" href="{% url "app_post_detail" post.pk %}">
                    <h3>{{ post.title }}</h3>
                    <p>{{ post.content }}</p>
                </a>

                <div class="footer">
                    <p><a class="t-link green" href="{% url "app_post_detail" post.pk %}">keeby-talk:~$ fetch -article</a></p>
                    <!--<p class="darkgrey">comments[0]</p>-->
                </div>

            </div>

        </section>

    {% endfor %}

{% endblock %}
