{% extends "templates/keyboard.html" %}

{% load static i18n %}

{% block content %}

    <section class="s-blary-head s-green">

        <h2 class="green">{{ object.name }}</h2>
        <p class="green">{{ object.description }}</p>

    </section>

    <section class="default s-grey section-buttons">

        <a class="t-link green " href="{% url "app_post_create" %}">keeby-talk:~$ <span
                class="grey">post -create -target[{{ object.name }}]</span></a>
        <div>{% trans "total_related_posts" %}[{{ posts.all.count }}]</div>

    </section>

    {% if posts %}

        {% for post in posts.all %}

            <section id="{{ post.pk }}" class="s-post s-lightgrey">

                <div class="aside">
                    <!-- Votes. -->
                    <div class="votes">
                        <a data-type="vote" href="{% url "app_not_working_yet" %}">
                            <img src="{% static "img/icons/arrow-black-top.svg" %}" alt="Arrow red top">
                        </a>
                        <div class="darkgrey">0</div>
                        <a data-type="vote" href="{% url "app_not_working_yet" %}">
                            <img src="{% static "img/icons/arrow-black-bottom.svg" %}" alt="Arrow red bottom">
                        </a>
                    </div>
                </div>

                <div class="main">

                    <div class="header">
                        <div class="nav">
                            <p><a class="t-link green" href="{% url "app_user_detail" post.author %}">{{ post.author }}</a></p>
                        </div>
                        <p class="darkgrey">{{ post.creation_date|date:"Y-m-d" }}</p>
                    </div>

                    <a class="body" href="{% url "app_post_detail" post.pk %}">
                        <h3>{{ post.title }}</h3>
                        <p>{{ post.content }}</p>
                    </a>

                    <div class="footer">
                        <p><a class="t-link green" href="{% url "app_post_detail" post.pk %}">keeby-talk:~$ fetch
                            -article</a>
                        </p>
                        <!--<p class="darkgrey">comments[0]</p>-->
                    </div>

                </div>

            </section>

        {% endfor %}

    {% else %}
        <section class="s-user-hotbar s-grey">
            <p>{% trans "There isn't any post(s) related to the " %}{{ object.name }}{% trans " yet!" %}</p>
        </section>
    {% endif %}

{% endblock %}
