
/* -- GLOBAL --
   Global layout's element styling.
*/

html,
body {
    background: var(--main-bg-color);
}

/* Wraps the wrapper. */

main {
    display: flex;
    justify-content: center;
    padding-top: 60px;
}

/* Wraps the view and the asides. */

.wrapper {
    display: flex;
    width: 1100px;
    margin-top: 30px;
}

/* Contains the main view. */

.content {
    margin-right: 30px;
    width: 100%;
}