
/* -- HEADER -- */


/* Main rules. */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 60px;
    background: var(--main-element-color);
}

header .main-title {
    margin: auto 20px;
}

header nav {
    display: flex;
}

header nav p {
    padding: 5px 7px;
    margin: auto 15px;
}


/* Dropdown list. */

header .dropdown {
    position: relative;
    display: inline-block;
    margin: 20px 0;
    padding: 10px 20px;
}

header .dropdown:hover .dropdown-list {
    display: flex;
}

header .dropdown .dropdown-list {
    display: none;
    position: absolute;
    padding: 10px;
    right: 0;
    justify-content: center;
    flex-direction: column;
    background: var(--main-bg-color);
    box-shadow: var(--morphism-shadow-light);
}

header .dropdown .dropdown-list a {
    padding: 5px 10px;
}