
/* -- ANIMATIONS --
   Global animations styling.
*/

/* Pull to request loading animation. */

.loading-animation-wrapper {
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin-bottom: 50px;
}
.loading-animation {
    visibility: hidden;
}
.active {
    visibility: visible;
}