
/* -- BUTTONS --
   Global buttons styling.
*/

.btn-green {
    border: 1px solid var(--text-color-green);
    text-align: center;
    padding: 10px;
}

.btn-flag {
    width: 20px;
    height: 20px;
}
