
/* -- COMMENT --
   Global comment's element styling.
*/

.comment {
    display: flex;
    box-shadow: var(--morphism-shadow-verylight);
    border-radius: var(--morphism-border-radius);
    background: rgba(0, 3, 0, 0.3);
    padding-right: 20px;
}

.comment .aside {
    width: 45px;
    min-width: 45px;
}
.comment .aside .votes {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}
.comment .aside {
    font-size: 20px;
    font-weight: bold;
}
.comment .aside img {
    width: 20px;
    height: 20px;
}
.comment .aside .votes a:nth-of-type(2) {
    margin-top: 6px;
}

.comment .main {
    width: 100%;
    margin: 0 0 0 0;
}
.comment .header {
    display: flex;
    justify-content: space-between;
}
.comment .header .nav {
    display: flex;
}
.comment .body {
    width: 100%;
}
.replies .comment {
    margin-bottom: 15px;
}