
/* -- INPUT --
   "t-input" stands for "terminal-input".
   Welcome to the terminal world.
*/


.t-input {
    color: var(--text-color-grey);
}

/* For all inputs which are not "type=submit". */

.t-input:not([type="submit"]) {
    background: var(--main-element-color);
    box-shadow: 0 0 2px 2px rgba(255, 255, 225, 0.03);
}

input.t-input.large {
    width: 400px;
}
textarea.t-input.large {
    width: 100%;
    resize: vertical;
}

.t-input[type=submit] {
    color: var(--text-color-green);
    text-decoration: underline;
}
.t-input[type=submit]:hover {
    cursor: pointer;
}

.t-root {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.t-input.search {
    color: var(--text-color-green);
    background: none;
    box-shadow: none;
    padding: 10px 15px 10px 0;
    height: 40px;
    width: 500px;
}

.input-hidden {
    visibility: hidden;
    border-width: 0;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
}