
/* -- INPUT --
   Global link styling.
*/


.t-link {
    color: inherit;
    text-decoration: none;
}

.t-link.green {
    color: var(--text-color-green);
}

.t-link.grey {
    color: var(--text-color-grey);
}

.t-link.darkgrey {
    color: var(--text-color-darkgrey);
}

.t-link:hover {
    text-decoration: underline;
}

.t-link.no-underline:hover {
    text-decoration: none;
}