
/* -- POST --
   Global post's element styling.
*/

.s-post .aside {
    width: 45px;
    min-width: 45px;
}
.s-post .aside .votes {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}
.s-post .aside {
    font-size: 20px;
    font-weight: bold;
}
.s-post .aside img {
    width: 20px;
    height: 20px;
}
.s-post .aside .votes a:nth-of-type(2) {
    margin-top: 6px;
}

.s-post .main {
    width: 100%;
    margin: 0 45px 0 0; /* Same padding as post's <aside> width */
}
.s-post .header {
    display: flex;
    justify-content: space-between;
}
.s-post .header .nav {
    display: flex;
}
.s-post .body {
    width: 100%;
    padding: 0;
}
.s-post .body .img-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}
.s-post .body img {
    max-height: 500px;
    border-radius: var(--morphism-border-radius);
}
.s-post .footer {
    display: flex;
    justify-content: space-between;
}