
/* -- SEARCH --
   Search section styling.
*/

.search-wrapper {
    display: flex;
    background: var(--main-element-color);
    box-shadow: var(--morphism-shadow-light);
    border-radius: var(--morphism-border-radius);
}

.search-element {
    padding: 20px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.search-element .row p {
    margin: 0 10px;
}