
/* -- SECTIONS --
   Global sections styling.
*/


/* Default section (wraps the pages or asides) */

section.default {
    margin-bottom: 30px;
    padding: 20px 40px 40px;
}

/* Post page. */

section.s-post {
    display: flex;
    margin-bottom: 30px;
}

/* User pages. */

section.s-user {
    padding: 30px;
}

/* Inner section: form */

section.s-form {
    margin-bottom: 30px;
    padding: 10px 20px 25px 20px;
}

/* Inner section: form for comment*/

section.s-form-comment {
    margin: 40px auto;
    padding: 20px 20px 25px 20px;
}
section.s-form:last-child {margin-bottom: 0;}

/* Inner section (little section in a page, wrapping forms or other things) */

section.s-inner {
    margin: 60px 0;
    padding: 20px;
}

section.s-center {
    display: flex;
    align-items: center;
}

/* COLOR STYLING */

section.s-grey {
    background: var(--main-element-color);
    border-radius: var(--morphism-border-radius);
}
section.s-lightgrey {
    background: var(--main-bg-color);
    box-shadow: var(--morphism-shadow);
    border-radius: var(--morphism-border-radius);
}
section.s-green {
    border: 1px solid var(--text-color-green);
    box-shadow: 0 0 5px 2px rgba(255, 255, 225, 0.05);
    padding: 10px 20px;
}

/* MARGIN / PADDING STYLING */

section.s-border {
    border-left: 3px solid #fff;
}
section.section-aside {
    padding: 10px 20px;
}

/* Buttons bar on Blary page. */

section.section-buttons {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

/* Login page. */

section.s-login {
    display: flex;
}
section.s-login .column {
    width: 50%;
    padding: 40px;
}

/* Section Blary */

section.s-blary-head {
    padding: 10px 20px;
    margin-bottom: 30px;
}

/* Highlight elements */

section.s-highlight:hover {
    box-shadow: var(--morphism-highlight);
}

/* For the deleted elements. */

.deleted {
    color: grey;
}