
/* -- USER --
   Global user's element styling.
*/

/* Section user information */

.s-user-header {
    display: flex;
    margin-bottom: 30px;
}

.s-user-avatar {
    width: 60px;
    height: 60px;
    margin-right: 20px;
    border-radius: var(--morphism-border-radius);
    box-shadow: var(--morphism-shadow);
}

.s-user-hotbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 30px;
}

/* Section user activity */

.s-activity-element {
    margin-bottom: 30px;
}

.s-activity-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.s-activity-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.s-activity-logo {
    width: 15px;
    height: 15px;
    margin-right: 15px;
}

.s-activity-body {
    display: flex;
    align-items: center;
    padding: 0 20px 10px 20px;
}
.s-activity-post-img {
    max-height: 80px;
    max-width: 80px;
    margin: 10px 15px 10px 0;
    border-radius: var(--morphism-border-radius);
    box-shadow: var(--morphism-shadow);
}
