{% load i18n %}

<section class="default s-grey section-aside">
    <p><a class="t-link darkgrey underline" href="{% url "app_not_working_yet" %}">{% trans "Legal terms" %}</a></p>
    <p><a class="t-link darkgrey underline" href="{% url "app_not_working_yet" %}">{% trans "Content policy" %}</a></p>
    <p class="darkgrey">Keeby Talk @ 2020 ({% trans "no copyright" %})</p>
</section>
