{% load static i18n %}

<!DOCTYPE html>
<html lang="{% get_current_language as LANGUAGE_CODE %}">
<head>
    <!-- The global head elements. -->
    <meta charset="utf-8">
    <title>{{ title }} | KEEBY TALK</title>
    <meta name="description" content="{% trans "The one and only place to really talk about keyboards!" %}">
    <meta name="author" content="Alexis Philip">
    <link rel="stylesheet" href="{% static "css/main.css" %}">
</head>
<body>

<!-- The global header. -->
{% include "templates/global/header.html" %}

<main>
    <section class="wrapper">
        <section class="content">
            <!-- The main view. -->
            {% block content %}{% endblock %}
        </section>
        <!-- The asides. -->
        {% block asides %}{% endblock %}
    </section>
</main>

</body>
</html>
