{% load i18n %}

<header>
    <h2 class="main-title">
        <a class="t-link green no-underline" href="{% url "app_home" %}">KEEBY TALK</a>
    </h2>
    <nav>
        {% if user.is_authenticated %}
            <p class="btn-green green"><a class="t-link no-underline" href="{% url "app_post_create" %}">{% trans "post[create]" %}</a></p>
            <p class="darkgrey"><a class="t-link" href="{% url "app_profile" %}">{% trans "profile" %}[{{ user.username }}]</a></p>
            <p class="darkgrey"><a class="t-link" href="{% url "app_log_out" %}">{% trans "log[out]" %}</a></p>
        {% else %}
            <p class="darkgrey"><a class="t-link" href="{% url "app_log_in" %}">{% trans "log[in]" %}</a></p>
        {% endif %}
    </nav>
</header>
