
/* -- OVERWRITE --
   Global overwrite styling.
   These definitions will overwrite the preceding definitions and styles when applied to the HTML.
*/


.green {
    color: var(--text-color-green);
}
.grey {
    color: var(--text-color-grey);
}
.darkgrey {
    color: var(--text-color-darkgrey);
}
.underline {
    text-decoration: underline;
}
.border-green {
    border: 1px solid var(--text-color-green);
}
.bold {
    font-weight: bold;
}