{% load i18n %}

<section class="default s-green section-aside">
    <h3>{% trans "Keyboards" %}</h3>
    <ul>
        {% for keeb in keebs %}
            <li><p><a class="t-link green" href="{% url "app_keeb_detail" keeb.pk %}">{{ keeb.name }} ({{ keeb.keys }} {% trans "keys" %})</a></p></li>
        {% endfor %}
    </ul>
</section>
