
/* -- VARIABLES --
   Definitions of all the global variables styling.
*/

:root {
    /* Main color palette. */
    --main-bg-color: #181419; /* Old: #161218 */
    --main-element-color: #120e14;
    --text-color-green: #00aa00;
    --text-color-grey: #aaa59c;
    --text-color-darkgrey: #5E5C57;

    /* Default shadows. */
    --morphism-shadow:
            -8px -8px 14px rgba(255, 255, 225, 0.05),
            5px 5px 7px rgba(5, 5, 5, 0.4),
            inset -4px -4px 14px rgba(255, 255, 225, 0.04),
            inset 2px 2px 7px rgba(5, 5, 5, 0.3);

    /* Light shadows. */
    --morphism-shadow-light:
            -4px -4px 14px rgba(255, 255, 225, 0.03),
            5px 5px 7px rgba(5, 5, 5, 0.4),
            inset -2px -2px 14px rgba(255, 255, 225, 0.04),
            inset 2px 2px 7px rgba(5, 5, 5, 0.3);

    /* Very light shadows. */
    --morphism-shadow-verylight:
            -4px -4px 6px rgba(255, 255, 255, 0.02),
            2px 2px 3px rgba(255, 255, 255, 0.02),
            inset -2px -2px 6px rgba(255, 255, 255, 0.02),
            inset 2px 2px 4px rgba(5, 5, 5, 0.2);

    /* Highlight shadows. */
    --morphism-highlight:
            0px 0px 0px 1px rgba(0, 255, 0, 0.5),
            5px 5px 0px rgba(5, 5, 5, 0),
            inset 0px 0px 0px 1px rgba(0, 255, 0, 0.5),
            inset 0px 0px 0px rgba(5, 5, 5, 0);

    /* Default border radius. */
    --morphism-border-radius: 8px;
}