
/* -- RESET -- */

html,
body {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a,
input,
textarea {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    padding: 0;
    margin: 0;
    background: none;
    border: none;
}