{% extends "templates/default.html" %}

{% load i18n %}

{% block content %}

    <section class="default s-grey">

        <h2>{% trans "post[update]" %}</h2>

        <form action="" method="post">

            {% csrf_token %}

            <section class="s-green s-form">
                <p>{% trans "Chose a least one related keyboard" %}</p>
                <label class="green" for="featured_keyboards">keeby-talk:~$ post -featured_keyboards</label><br>
                <span class="green">keeby-talk:~$ </span><br>
                <!-- Lists all of the keyboards. -->
                <select name="featured_keyboards" id="id_featured_keyboards" required="" multiple="">
                    {% for option in form.featured_keyboards %}
                        {% if option %}
                            {{ option }}
                        {% else %}
                            {{ option }}
                        {% endif %}
                    {% endfor %}
                </select>
                <p>{{ form.featured_keyboards.error }}</p>
            </section>

            <section class="s-form s-lightgrey">
                <p>{% trans "The post's title" %}</p>
                <label class="green" for="title">keeby-talk:~$ title</label><br>
                <span class="green">keeby-talk:~$ </span><br>
                <textarea class="t-input large" name="title" rows="2" cols="50">{{ form.title.value }}</textarea>
            </section>

            <section class="s-form s-lightgrey">
                <p>{% trans "The post's content" %}</p>
                <label class="green" for="title">keeby-talk:~$ content -text</label><br>
                <span class="green">keeby-talk:~$ </span><br>
                <textarea class="t-input large" name="content" rows="5" cols="50">{{ form.content.value }}</textarea>
            </section>

            <input class="t-input" type="submit" value="keeby-talk:~$ post -update">
        </form>

    </section>

{% endblock %}
