{% extends "templates/default.html" %}

{% load static i18n %}

{% block content %}

    <section class="s-post s-lightgrey">

        <div class="aside">
            <!-- Votes. -->
            <div class="votes">
                <a data-type="vote" href="{% url "app_not_working_yet" %}">
                    <img src="{% static "img/icons/arrow-black-top.svg" %}" alt="Arrow red top">
                </a>
                <div class="darkgrey">0</div>
                <a data-type="vote" href="{% url "app_not_working_yet" %}">
                    <img src="{% static "img/icons/arrow-black-bottom.svg" %}" alt="Arrow red bottom">
                </a>
            </div>
        </div>

        <div class="main">

            <div class="header">
                <div class="nav">
                    <p><a class="t-link green" href="{% url "app_user_detail" post.author %}">{{ post.author }}</a></p>
                    {% if post.author.id == user.pk %}
                        <p class="darkgrey">&nbsp;•&nbsp;<a class="t-link" href="{% url "app_post_update" post.id %}">{% trans "edit" %}</a></p>
                        <p class="darkgrey">&nbsp;•&nbsp;<a class="t-link" href="{% url "app_not_working_yet" %}">{% trans "delete" %}</a></p>
                    {% endif %}
                </div>
                <p class="darkgrey">{{ post.creation_date|date:"Y-m-d" }}</p>
            </div>

            <div class="body">
                <h3>{{ post.title }}</h3>
                <p>{{ post.content }}</p>
            </div>

            <section class="s-form-comment s-lightgrey">
                <h3>{% trans "featured_keyboards" %}[{{ object.featured_keyboards.all.count }}]</h3>
                <ul>
                    {% for keyboard in object.featured_keyboards.all %}
                        <li><p><a class="t-link green"
                                  href="{% url "app_keeb_detail" keyboard.pk %}">{{ keyboard.name }}</a></p></li>
                    {% endfor %}
                </ul>
            </section>

        </div>

    </section>

{% endblock %}
