{% load i18n %}

<section class="default s-grey section-aside s-border">
    <h3>Description</h3>
    <p>{% trans "keys" %}[{{ object.keys }}]</p>
    <p>{% trans "created_on" %}[{{ object.release_date }}]</p>

    <a class="t-link no-underline" href="{% url "app_not_working_yet" %}">
        <p class="btn-green green">{% trans "follow" %}</p>
    </a>
</section>
