{% extends "templates/auth.html" %}

{% load i18n %}

{% block content %}

    <section class="s-login s-lightgrey">

        <div class="column">

            <h3>{% trans "log[in]" %}</h3>

            <form action="" method="post">

                {% csrf_token %}

                <p style="color: darkred">{{ error }}</p>

                <section class="s-form s-lightgrey" style="padding-top: 20px">
                    <label class="green" for="username">keeby-meet:~$ login -type[username,email]</label><br>
                    <span class="green">keeby-meet:~$ </span>
                    <input class="t-input" type="text" name="username" required><br>
                </section>

                <section class="s-form s-lightgrey" style="padding-top: 20px">
                    <label class="green" for="password">keeby-meet:~$ login -password</label><br>
                    <span class="green">keeby-meet:~$ </span>
                    <input class="t-input" type="password" name="password" required><br>
                </section>

                <p>{% trans "Don't have an account?" %} <a class="t-link green" href="{% url "app_sign_in" %}">{% trans "Sign-in" %}</a>.</p>

                <input class="t-input" type="submit" value="keeby-meet:~$ login -user">
            </form>
        </div>

        <div class="column">
            <div style="display: flex; justify-content: center; align-items: center">
                <div class="green" style="font-size: 15em">K</div>
            </div>
        </div>

    </section>

{% endblock %}
