{% extends "templates/auth.html" %}

{% load i18n %}

{% block content %}

    <section class="s-login s-lightgrey">

        <div class="column">

            <h3>{% trans "sign[in]" %}</h3>

            <form action="" method="post">

                {% csrf_token %}

                <p style="color: darkred">{{ error }}</p>

                <section class="s-form s-lightgrey" style="padding-top: 20px">
                    <label class="green" for="username">keeby-meet:~$ username</label><br>
                    <span class="green">keeby-meet:~$ </span>
                    <input class="t-input" type="text" name="username" required><br>
                </section>

                <section class="s-form s-lightgrey" style="padding-top: 20px">
                    <label class="green" for="email">keeby-meet:~$ email</label><br>
                    <span class="green">keeby-meet:~$ </span>
                    <input class="t-input" type="text" name="email" required><br>
                </section>

                <section class="s-form s-lightgrey">
                    <p>{% trans "The password must be at least 8 characters long" %}.</p>
                    <label class="green" for="password1">keeby-meet:~$ password -set1</label><br>
                    <span class="green">keeby-meet:~$ </span>
                    <input class="t-input" type="password" name="password1" required><br><br>

                    <label class="green" for="password2">keeby-meet:~$ password -set2</label><br>
                    <span class="green">keeby-meet:~$ </span>
                    <input class="t-input" type="password" name="password2" required><br>
                </section>

                <p>{% trans "Already have an account?" %} <a class="t-link green" href="{% url "app_log_in" %}">{% trans "Log-in" %}.</a></p>

                <input class="t-input" type="submit" value="keeby-meet:~$ create -user">
            </form>
        </div>

        <div class="column">
            <div style="display: flex; justify-content: center; align-items: center">
                <div class="green" style="font-size: 30em">K</div>
            </div>
        </div>

    </section>

{% endblock %}
