{% extends "templates/../templates/default.html" %}

{% load static i18n %}

{% block content %}

    <section class="s-user s-lightgrey">

        <section class="s-user-header">
            <h2>{{ user.username }}</h2>
        </section>

        <section class="s-user-hotbar s-grey">
            <p><a class="t-link green underline" href="{% url "app_not_working_yet" %}">{% trans "update[email]" %}</a></p>
            <p><a class="t-link green underline" href="{% url "app_not_working_yet" %}">{% trans "update[avatar]" %}</a></p>
        </section>

        <h3>{% trans "My recent activity" %}</h3>

        {% for post in posts %}

            <a href="{% url "app_post_detail" post.pk %}">
                <section class="s-activity-element s-lightgrey s-highlight">
                    <div class="s-activity-head">
                        <div class="s-activity-wrapper">
                            <img class="s-activity-logo" src="{% static "img/icons/post.svg" %}" alt="Post icon.">
                            <p class="darkgrey">
                                <span class="green underline">{{ post.author }}</span>
                                {% trans "posted on" %}
                                <span class="grey underline">---</span>
                            </p>
                        </div>
                        <p class="darkgrey">{{ post.creation_date|date:"Y-m-d" }}</p>
                    </div>
                    <div class="s-activity-body">
                        <div>
                            <h3>{{ post.title }}</h3>
                            <p>{{ post.content }}</p>
                        </div>
                    </div>
                </section>
            </a>

        {% endfor %}

    </section>

{% endblock %}
